.menu li {
    list-style: none;
    display: inline-block;
    font: bold 14px verdana;
    border: solid;
    padding: 10px;
    margin: 25px;

}

.cabecera h1,
h6 {
    text-align: left;
}

.menu {
    background: rgb(14, 255, 175);
    text-align: left;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    text-align: center;
    background: rgb(248, 227, 227);
}

.agrupar {
    border: 1px solid black;
    background: white;
    width: 900px;
    margin: 20px;
}