.menu li {
    list-style: none;
    display: inline-block;
    font: bold 14px verdana;
    border: solid;
    padding: 10px;
    margin: 25px;

}

.cabecera h1,
h6 {
    text-align: left;
}

.menu {
    background: rgb(198, 174, 14);
    text-align: left;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    text-align: center;
    background: rgb(248, 227, 227);
}

.agrupar {
    border: 1px solid black;
    background: wheat;
    width: 900px;
    height: 1500px;
    margin: 20px auto;
}

.cabecera {
    background: #FFFBB9;
    border: 20px solid #ece8b4;
    padding: 20px;
}

.seccion {
    float: left;
    width: 600px;
    margin: 10px;
}

article {
    background: #FFFBB9;
    border: 1px solid #3285ea;
    margin-bottom: 15px;
    padding: 20px;
}

time {
    color: thistle;

}

article footer {
    text-align: right;

}

#idreferencias {
    width: 250px;
    float: right;
    margin: 20px 0px;
    border: 1px solid #9cc2f1;
    margin-right: 20px;
}

.pie {
    clear: both;
    height: 150px;

}

#idreferencias blockquote {
    border: 1px solid black;
    padding: 40px;
    background: rgb(230, 158, 158);
    margin-bottom: 20px;
}

img {
    width: 300px;
    height: 150px;
    margin: 20px auto;
}