.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(95, 92, 83);
}

.calculadora-numeros {
    padding: 15px 15px 5px 15px;
    display: grid;
    grid-template-columns: repeat(3, 150px);
    background: rgb(231, 203, 141);
    border-radius: 15px;
}

.calculadora-operaciones {
    padding: 5px 15px 5px 15px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    background: rgb(231, 203, 141);
    border-radius: 15px;
}

.calculadora-general {
    justify-content: center;
    align-items: center;
    background: rgb(231, 203, 141);
    border-radius: 15px;
    box-shadow: 20px black;
}

.col-3 {
    grid-column: span 3;
}

.col-2 {
    grid-column: span 2;
}

label {
    padding: 15px;
    height: 20px;
}

h1 {
    color: brown;
    padding: 30px;
}

.calculadora-general button {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}
button:hover{
    background-color: chartreuse;
    color: azure;

}
.labelResultado{
    margin-left: 20px ;
}